# Global parameters
[global]
group = pmem_flush_rand
ops-per-thread = 100000
threads = 1
# 8B to 8KB
data-size = 8:*2:8192
mode = rand
no-warmup = false
 
 
[persist_rand]
bench = pmem_flush
operation = persist
 
[flush_rand]
bench = pmem_flush
operation = flush
 
[msync_rand]
bench = pmem_flush
operation = msync
 
[deep_persist_rand]
bench = pmem_flush
operation = deep_persist